:root {
  --thm-font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
  --special-font: "Handlee", cursive;
  --thm-color: #6e7673;
  --thm-base: #49a760;
  --thm-primary: #f7c35f;
  --thm-secondary: #ed4b4b;
  --thm-special: #5366c2;
  --thm-black: #255946;
  --thm-black2: #1d1c1c;
  --thm-text-dark: #8e96a0;
  --thm-gray-light: rgb(246 245 242);
}
body {
  color: #999999;
  font-size: 14px;
  font-family: var(--thm-font);
  line-height: 1.80857;
  margin: 0;
}

html,
body {
  height: 100%;
}
#header {
    height: 70px;
}
.img-fluid {
  max-width: 60%;
  height: auto;
}
.header-nav {
  display: flex;
  justify-content: center;
  margin: 0;
}
.navbar-brand img {
  width: 20%;
}
.collapse {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  justify-content: center;
}
.main-header__home {
  width: 100%;
  margin:auto auto;
  align-items: right;
}
.main-header__info {
  display: flex;
  align-items: center;
  max-width: 50%;
}
.main-header__info-phone {
  display: flex;
  margin-left: 10px;
  width: 80%;
  max-width: 100%;
  align-items: flex-start;
  background-color: rgb(247, 195, 95);
  border-radius: 8px;
  padding: 10px 9px;
  transition: all 500ms ease;
  text-decoration: none;
}
.main-header__info-phone > span {
  width: 100%;
  margin: auto;
  color: #fff;
  text-align: center;
}
.main-header__info-phone-content {
  margin-left: 10px;
}
.main-header__info-phone:hover {
  background-color: rgb(72, 167, 95);
  color: var(--thm-primary);
}
.main-header__info-phone span:hover {
    color: var(--thm-primary);
  }
.main-banner{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5d5e6a57e7a27b0001395f6e/1571996023745-T9NCXMMGOSSP2AC04B4X/clover1_horizontal.jpg?format=2500w);
    width:100%;
    background-size:100%;
    background-repeat:no-repeat;
    height:100%;
}
.formRegister{
    max-width: 100%;
    height: 100%;
    text-align:center;
}
.form-detail{
    margin: 0 auto;
    padding: 100px 0;
}
.form-detail h2{
    color: #fff;
    font-weight: 700;
    font-size:40px;
    padding-bottom: 20px;
}
.form-detail h2{
    color: #fff;
    font-weight: 700;
    font-size:40px;
}
.padding-item{
    /* padding-bottom: 20px; */
}
.form-detail input[type="text"],
.form-detail input[type="password"]{
  display: block;
  border: none;
  outline: none;
  width: 30%;
  background-color: #f6f5f2;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  font-size: 14px;
  color: #6e7673;
  margin: 0 auto;
  margin-bottom:20px;
}
.form-detail .register {
  background-color: var(--thm-primary);
  width: 40%;
  max-width: 10%;
  font-family: var(--thm-font);
  font-weight:500;
  height:30px;
  align-items: flex-start;
  background-color: rgb(247, 195, 95);
  border-radius: 5px;
  transition: all 200ms ease;
  border:none;
  text-decoration: none;
}

.form-detail .register:hover {
  background-color: var(--thm-black);
  color: #fff;
  transition: 200ms;
}


