
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.back-ground{
    background:#fff !important;
}

.text-center{
    text-align: center;
}

.font-chu{
    font-size: 16px;
}
/* header */

.navbar{
    background: #fff;
    margin: 16px 0px 16px;

}
.navbar-brand{
    font-weight: 500;
    font-size: 16px;
    margin-left: 45px;
}

.full-screen{
    width: 100% !important;
    height: 100% !important;
}

.navbar-light .navbar-nav .nav-link {
    /* margin-top: 10px; */
    color: #333333 !important;
    margin-right: 45px;
}

.navbar-light .navbar-nav .nav-link:hover{
    background-color: #fffab9 !important;
    text-decoration: none;
}

/* .navbar-nav{
    margin-top: 50%;
    transform:translateY(-50%);
} */

.navbar-collapse {
    /* height: 100vh; */
    transition: all  linear .1s;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.navbar-nav{
    float: left;
}



/* content */
.img{
    width: 120%;
    height: auto;
}
.image-contents,
.main-contents{
    margin-left: 35px;
    display: block;
    padding: 55px;
}
.containers{
    grid-template-columns: auto auto;
    display: grid;
    grid-gap: 45px;
}

.title-d{
    font-weight: 500;
    margin-bottom: -5px;
}

.font-m,
.font-m:hover{
    color: #000;
    list-style: none;
    text-decoration: none;
}








@media screen (max-width:900px){
}